@{
    ViewData["Title"] = "Exam List";
}
<div class="container text-center mt-5">
    <h2>Available Exams</h2>
    <ul class="list-group w-50 mx-auto">
        <li class="list-group-item"><a href="/Exam/Detail/1">Exam 1</a></li>
        <li class="list-group-item"><a href="/Exam/Detail/2">Exam 2</a></li>
    </ul>
</div>
